body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  display: flex;
  justify-content: center;
  /* Căn giữa theo chiều ngang */
  align-items: center;
  /* Căn giữa theo chiều dọc */
  height: 100vh;
  /* Chiều cao của body là toàn bộ chiều cao của viewport */
  margin: 0;
  /* Loại bỏ margin mặc định */

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  width: 100%;
  /* Đặt chiều rộng tùy chỉnh theo ý muốn, ví dụ là 80% */
  height: 100vh;
  /* Để căn giữa phần tử root */
}